.country-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202C36;
}

.back-button-container {
    padding-bottom: 100px;
    
    
}
.country-content {
    width: 70%;
    height: 90%;
}

.country-info {
    display: flex;
    flex-direction: row;
    gap: 60px;
    
}

.country-info-flag {
    width: 500px;
    height: auto;
}
.country-info-flag img {
    width: 100%;
    height: 100%;
}

.country-name {
    padding-bottom: 20px;
}
.country-info-stats {
    display: flex;
    flex-direction: row;
    gap: 50px;
}