.country-page {
    width: 75%;
    height: 100%;
    margin: auto;
}
.country-content {
    padding-top: 30px;
}
.back-link {
    text-decoration: none;
}

.back-button {
    appearance: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-bottom: 100px;
}
.back-button:hover {
    background-color: #b3a9a91f;
    border-radius: 5px;
}
.back-button img {
    height: 14px;
    width: auto;
}
.back-text {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 14px;
}

.country-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.country-info-flag {
    max-width: 50%;
    max-height: 75%;
    height: auto;
    
}
.country-info-flag img {
    width: 100%;
    height: auto;
    max-height: 75%;
    border-radius: 20px;
}

.country-info-details {
    max-width: 50%;
}

.country-title {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 15px;
}
.country-info-stats {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}

.country-info-stats-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: inherit;
}
.country-info-stats-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: inherit;
}
.country-info-stats-left p,
.country-info-stats-right p,
.country-info-stats-left strong,
.country-info-stats-right strong  {
    color: inherit;
}
.border-countries {
    display: flex;
    gap: 15px;
    align-items: center;
}

.border-chips {
    gap: 10px;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 900px) {
    .country-info {
        flex-direction: column;
    }
    .country-info-flag {
    max-width: 100%;
    height: auto;
    
}
.country-info-flag img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.country-info-details {
    max-width: 50%;
}
.country-info-stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 50px;
}
.border-countries {
    padding-bottom: 40px;
    max-width: 200%;
    width: 200%;
}
}