.region-filter {
    width: 175px;
    position: relative;
    border: 1.5px solid #9393935e;
    border-radius: 4px;
}

.drop-down-btn {
    padding: 23px;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.down-arrow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.drop-down-content {
    padding-top: 8px;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    z-index: 5;
}
.drop-down-item {
    padding: 8px 16px;
    transition: all 0.3s ease;
}
.drop-down-item:hover {
    background-color: #b3a9a91f;
}

.drop-down-btn,
.drop-down-item,
.region-filter,
.drop-down-content {
    cursor: pointer;
}
.region-placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition:  font-size 0.3s;
    pointer-events: none;
}
.region-placeholder.active {
    top: 0;
    font-size: 13px;
    padding: 0px 5px;
}

.selected-region {
    position: absolute;
    left: 15px;
}
