.skeleton-card {
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 6px;
}


.country-flag-skeleton {
    width: 100%;
    height: 55%;
    background-color: transparent;
    border-radius: 6px 6px 0px 0px;
    animation: skeleton-loading 1s linear infinite alternate;
}

.country-details-skeleton {
    padding: 15px;
    
}

.country-name-skeleton {
    margin-bottom: 10px;
    height: 16px;
    width: 100%;
    background-color: transparent;
    border-radius: 2px;
    animation: skeleton-loading 1s linear infinite alternate;
}

.country-text {
    display: flex;
    align-items: center; 
}

.country-text-skeleton {
    height: 12px;
    width: 80px;
    background-color: transparent;
    margin-left: 5px;
    border-radius: 2px;
    animation: skeleton-loading 1s linear infinite alternate;
}
.country-text-skeleton-pop {
    height: 12px;
    width: 54px;
    background-color: transparent;
    margin-left: 5px;
    border-radius: 2px;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background-color: #f7f8f861;
    }
    100% {
      background-color: #6a7279;
    }
  }